.homepage-cont {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    /* border: black solid 5px; */
}

.home-sec-one {
    width: 60%;
    /* border: white solid 2px; */
}

.match-history {
    background-color: #1e1f25;
    border-radius: 10px;
    padding: 20px;
}

.home-sec-two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    padding: 20px;
    /* border: white solid 2px; */
}

.history-slider {
    margin-bottom: 20px;
}

.history-slider-off {
    border-radius: 10px;
}

.history-slider-on {
    background: #1e1f25;
    border-radius: 10px;
    transition: 0.2s;
}

.history-slider-off:hover {
    cursor: pointer;
}

.history-slider-on:hover {
    cursor: pointer;
}

.history-slider ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.history-slider li {
    display: inline-block;
    font-weight: 600;
    margin-right: 20px;
    padding: 15px;
}

.twenty-game-history {
    background: #1e1f25;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
}

.twenty-game-history h1 {
    margin: 0 0 2px 0;
    padding: 0;
}

.twenty-game-kda-cont {
    display: flex;
}

.twenty-game-stat {
    width: 50%;
}

.twenty-game-graph {
    width: 50%;
}

.preferred-position {
    background: #1e1f25;
    border-radius: 10px;
    padding: 20px;
}

.preferred-position h1 {
    margin: 0;
    padding: 0;
}