nav {
    margin-bottom: 40px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    max-width: 1200px;
    padding: 20px 40px;
    margin: 0px auto;
    /* border: white solid 3px; */
}

.nav-logo-cont a {
    text-decoration: none;
    font-weight: 800;
    color: #f8f8fa;
}

.nav-links-cont ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links-cont li {
    display: inline-block;
    padding: 0px 20px;
    transition: 4s;
}

.nav-links-cont li:hover {
    cursor: pointer;
    text-decoration: underline;
}
